

@import "_oa";

@include font-face("Monaco", font-files("monaco/monaco.ttf", "monaco/monaco.otf"));
// @include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
// [class^="icon-"], [class*=" icon-"] {
//   font-family: 'icomoon', Monaco, "微軟正黑體", "Microsoft JhengHei";
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   @include font-smoothing(antialiased);
// }

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

html {
  height: 100%;

  body {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: medium;
    font-family: "Roboto", "微軟正黑體", Monaco, "Microsoft JhengHei" ;
    background-color: rgba(255, 255, 255, 1.00);
    color: rgba(50, 50, 50, 0.8);

    @include font-smoothing(antialiased);

  }
}

// w1200px
// h100px

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(114, 114, 114, .3);

  .top {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;

    @include split-left(300px, '.logoboxs', '.menu');

    .logoboxs {
      display: inline-block;
      float: left;
      padding-top: 20px;


      @include range-width(0, 765px) {
        width: 100%;
        padding: 10px;
      }

      img {
        width: 100%;
        @include range-width(0, 765px) {
          width: auto; // 自動
        }
      }
    }

    .menu {

      @include range-width(0, 765px) {
        width: 100%;
      }


      display: inline-block;
      @include clearfix();

      > div {
        display: inline-block;

        @include range-width(500px, 765px) {
          width: calc(100% / 6);
        }

        @include range-width(0, 500px) {
          width: 100%;
        }

        float: right;
        line-height: 100px;

        + div {

          @include range-width(0, 765px) {
            padding-right: 0;
          }

          padding-right: 25px;
        }
      }
    }
  }
}







